@import '../../../styles/customMediaQueries.css';

.root {
  margin-top: 24px;

  @media (--viewportMedium) {
    margin-top: 32px;
  }
}

.sectionContainer {
  padding: 0;
  margin-bottom: 36px;

  @media (--viewportMedium) {
    padding: 0;
    margin-bottom: 56px;
  }
}

.error {
  /* Font */
  composes: h4 from global;
  color: var(--colorFail);
  margin-top: 18px;
  margin-bottom: 0;

  @media (--viewportMedium) {
    margin-top: 22px;
    margin-bottom: 2px;
  }
}

.addressSectionHeading {
  margin-top: 32px;
  margin-bottom: 16px;

  @media (--viewportMedium) {
    margin-top: 40px;
  }
}

.addressHeading {
  margin-top: 0;
  margin-bottom: 6px;
}

.addressSubtitle {
  composes: marketplaceSmallFontStyles from global;
  color: var(--colorGrey600);
  margin: 0;
}

.submitButton {
  margin-top: 24px;
  margin-bottom: 56px;
}

.validationInlineError {
  font-size: 13px;
  color: #991b1b;
  margin: 0 0 8px 0;
  font-weight: 500;
}
